services:
  nuxt:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nuxt-starter
    hostname: nuxt-starter
    entrypoint: /bin/bash
    working_dir: /workspace
    volumes:
      - '.:/workspace'
    tty: true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nuxt-starter.rule=Host(`nuxt-starter.localhost`)"
      - "traefik.http.services.nuxt-starter.loadbalancer.server.port=${NUXT_APP_PORT:-3000}"
    networks:
      - web
      - proxy
    depends_on:
      - pgsql

  pgsql:
    image: 'postgres:17'
    ports:
      - '${NUXT_DB_FORWARD_PORT:-5432}:5432'
    environment:
      PGPASSWORD: '${NUXT_DB_PASSWORD:-secret}'
      POSTGRES_DB: '${NUXT_DB_DATABASE}'
      POSTGRES_USER: '${NUXT_DB_USERNAME}'
      POSTGRES_PASSWORD: '${NUXT_DB_PASSWORD:-secret}'
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'
    networks:
      - web
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${NUXT_DB_DATABASE}", "-U", "${NUXT_DB_USERNAME}" ]
      retries: 3
      timeout: 5s

volumes:
  postgres-data:

networks:
  web:
  proxy: # setup in separate compose file
    name: "traefik_network"
    external: true
